.featured_blog{
  position: relative;
  padding-top: 130px;
  &:before {
    content: '';
    //background-image: url(../images/blog-left-dec.jpg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0px;
    width: 961px;
    height: 1020px;
    z-index: 0;
  }

  .section-heading {
    text-align: center;
    margin-bottom: 80px;
    .line-dec {
      margin: 0 auto;
    }
  }

  .show-up {
    position: relative;
    .blog-post {
      box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
      border-radius: 25px;

      .thumb img {
        border-top-right-radius: 23px;
        border-top-left-radius: 23px;
      }
      .down-content {
        border-bottom-right-radius: 23px;
        border-bottom-left-radius: 23px;
        background-color: #fff;
        padding: 30px;

        span.category {
          font-size: 15px;
          color: #fff;
          padding: 8px 12px;
          background-color: #726ae3;
          border-radius: 18px;
          display: inline-block;
        }

        span.date {
          font-size: 15px;
          color: #afafaf;
          text-align: right;
          float: right;
          margin-top: 4px;
        }

        h4 {
          font-size: 20px;
          font-weight: 700;
          color: #2a2a2a;
          margin-top: 20px;
          margin-bottom: 20px;
          line-height: 30px;
        }
        p {
          margin-bottom: 30px;
        }
        span.author {
          font-size: 15px;
          color: #2a2a2a;

          img {
            max-width: 56px;
            border-radius: 50%;
            margin-right: 15px;
          }
        }
        .border-first-button {
          display: inline-block;
          float: right;
        }
      }
    }
  }

  .blog-posts {
    margin-left: 30px;
  }

  .post-item {
    margin-bottom: 62px;
  }

  .last-post-item {
    margin-bottom: 0px;
  }

  .post-item {
    .thumb {
      display: inline-block;
      float: left;
      margin-right: 30px;

      img {
        border-radius: 23px;
        display: inline-block;
      }
    }
    .right-content {
      padding-top: 20px;

      span.category {
        font-size: 15px;
        color: #fff;
        padding: 8px 12px;
        background-color: #726ae3;
        border-radius: 18px;
        display: inline-block;
      }
      span.date {
        font-size: 15px;
        color: #afafaf;
        text-align: right;
        float: right;
        margin-top: 4px;
      }
      h4 {
        font-size: 20px;
        font-weight: 700;
        color: #2a2a2a;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 30px;
      }
    }
  }
}
