.scroll_to_top {
  right: 40px;
  bottom: 40px;
  z-index: 10;

  @media (max-width: map-get($grid-breakpoints, "sm")) {
    bottom: 80px;
    right: 30px;
  }
  .MuiButtonBase-root {
    @media (max-width: map-get($grid-breakpoints, "sm")) {
      height: 50px;
      width: 50px;
    }
  }
}
